.team {
  padding: 70px 15px;
  border-bottom: 1px solid #dde1e4;
}

.team .wrapper {
  max-width: 1130px;
  margin: 0 auto;
}

.team .wrapper .head {
  margin-bottom: 60px;
}

.team .wrapper .boxes {
  display: flex;
}

.team .wrapper .boxes .itemBox .image {
  position: relative;
}

.team .wrapper .boxes .itemBox .image img {
  width: 260px;
  height: 300px;
  display: block;
}

.team .wrapper .boxes .itemBox .image .hideBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.5;
  display: none;
}

.team .wrapper .boxes .itemBox .btn_container {
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
}

.team .wrapper .boxes .itemBox .btn_container .btn {
  width: 60px;
  height: 60px;
  background-color: grey;
}

.team .wrapper .boxes .itemBox:hover .hideBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .wrapper .boxes .itemBox:hover .footer {
  background-color: black;
}

.team .wrapper .boxes .itemBox:hover .footer p {
  color: #ffffff;
}

.team .wrapper .boxes .itemBox .footer {
  padding: 20px;
  background-color: gray;
}

.team .wrapper .boxes .itemBox .footer .name {
  font-size: 16px;
  text-transform: uppercase;
  color: #292f36;
  margin-bottom: 5px;
}

.team .wrapper .boxes .itemBox .footer .position {
  font-size: 14px;
  color: #8d8f92;
}

.loveWork {
  background-color: #3a454d;
  padding: 70px 15px;
}

.loveWork .wrapper {
  max-width: 1130px;
  margin: 0 auto;
}

.loveWork .wrapper .head {
  margin-bottom: 60px;
}

.loveWork .wrapper .head .title {
  padding-left: 20px;
  position: relative;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.loveWork .wrapper .head .title:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #4e5a62;
  width: 10px;
  height: 100%;
}

.loveWork .wrapper .photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.loveWork .wrapper .photos .pictureBox {
  margin-bottom: 30px;
}

.loveWork .wrapper .photos .pictureBox .image {
  position: relative;
}

.loveWork .wrapper .photos .pictureBox .image .imgWork {
  width: 360px;
  height: 266px;
  display: flex;
}

.loveWork .wrapper .photos .pictureBox .image .hideBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #506371;
  background: rgba(80, 99, 113, 0.5);
  display: none;
  cursor: pointer;
}

.loveWork .wrapper .photos .pictureBox .image .hideBlock .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.loveWork .wrapper .photos .pictureBox .image .hideBlock .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loveWork .wrapper .photos .pictureBox:hover .hideBlock {
  display: flex;
  flex-direction: column;
}

.loveWork .wrapper .photos .pictureBox:hover .footer {
  padding: 20px;
  background-color: #292f36;
}

.loveWork .wrapper .photos .pictureBox:hover .footer .name {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.loveWork .wrapper .buttonLW {
  display: flex;
  justify-content: center;
}

.loveWork .wrapper .buttonLW .btnLW {
  padding: 15px 25px;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  border: 2px solid #ffffff;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */